{% load static %}
<div class="care-modal-header">
	Change Password
</div>
<br>
<form
	class="pure-form pure-form-aligned js-ajaxable-form"
	method="POST"
	action="{% url 'password_change' %}"
>
	{% csrf_token %}
	<fieldset>
		<div class="pure-control-group">
			<label for="{{ form.old_password.auto_id }}">Current Password</label>
			{{ form.old_password }}
			<div id="old_password"  class="care-field-error">
				{{ form.old_password.errors }}
			</div>
		</div>
		<ul>
			<li>Your new password can't be too similar to your other personal information.</li>
			<li>Your new password must contain at least 8 characters.</li>
			<li>Your new password can't be a commonly used password.</li>
			<li>Your new password can't be entirely numeric.</li>
		</ul>
		<div class="pure-control-group">
			<label for="{{ form.new_password1.auto_id }}">New Password</label>
			{{ form.new_password1 }}
					<div id="new_password1" class="care-field-error">
				{{ form.new_password2.errors }}
			</div>
		</div>

		<div class="pure-control-group">
			<label for="{{ form.new_password2.auto_id }}">Confirm New Password</label>
			{{ form.new_password2 }}
			<div id="new_password2" class="care-field-error">
				{{ form.new_password2.errors }}
			</div>
		</div>

		<div class="pure-controls">
			<button type="submit" class="pure-button care-button-primary">Change It</button>
		</div>
	</fieldset>
</form>
<script src="{% static 'portal/js/shared/ajax_submit_form.js' %}"></script>

